<section id="campaigners" class="download bg-primary text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <h2 class="section-heading">Enter The Vibrant Social Web</h2>
              <p>Discover Emerging Social Spaces • Your Community Awaits You</p>
          </div>
      </div>
  </div>
</section>

<section id="fediverse" class="highlights">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-heading">
          <h2>Join The Fediverse</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="feature-item">
          <h3>An Exciting Space</h3>
          <p class="text-muted">A new breed of social media platforms are being created on what we call the Fediverse. A federated universe of separate but highly integrated applications and services, based on open standards. There is no lock-in, no walled gardens. The Fediverse is a cooperative, synergetic space where people can express themselves freely and unleash their creativity. It is an open innovation space.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-item margin-small">
          <div class="feature-img">
            <img src="/img/social/fediverse-logo.svg"/>
          </div>
          <a target="_blank" href="https://fediverse.party" style="color:white; margin-top: 50px;" class="btn btn-outline btn-xl">Explore The Fediverse</a>  
        </div>
      </div>
      <div class="col-md-4">
        <div class="feature-item">
          <h3>Wonderful People</h3>
          <p class="text-muted">The Fediverse has no 'users', but fedizens. Passionate, open-minded critical thinkers. People who truly care about things, with strong beliefs and convictions. Many of whom were driven away from the toxicity in traditional social media. To use something better, more positive. Fedizens are activists. And they could be YOUR campaigners if they value your cause. All 4 million of them!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-heading">
          <h3>Interconnected servers hosting many diverse communities, numerous people, all working together.</h3>
          <p class="text-muted">As your community grows, so does your potential to reach out to other media. Additional channels, more interaction and better coordination.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="feature-item margin-small">
          <div class="feature-img">
            <img src="/img/outreach-fediverse-network.png"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="section-heading">
          <h3>With its open and friendly culture, your organization will feel right at home on the Fediverse.</h3>
          <p class="text-muted">All that's needed is a Fediverse account at the place of your choosing. Then build your community of fellow campaigners right away.</p>
        </div>
      </div>
    </div>
  </div>
</section>