<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="/img/logo/outreach-logo-tagline-734x209.png"/>
                        <h1>Decentralized Grassroots Campaign Management for the Fediverse</h1>
                        <a href="#call-to-action" class="btn btn-outline btn-xl page-scroll">Help Build This Project</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</header>
