
    <section id="highlights" class="highlights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Communities, NGO's and Non-Profits</h2>
                        <h3 class="text-muted">Allow us to take your campaign management to the next level!</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="highlights-container">
                      <img src="/img/artwork/new_campaign_monochromatic.svg"/>
                      <h3 style="color: #ff29ff;">1. Launch Online Campaign</h3>

                      <img style="margin-top: 40px;" src="/img/artwork/diversity__monochromatic.svg"/>
                      <h3 style="color: #ff29ff;">2. Get Help From Friends</h3>

                      <img style="margin-top: 40px;" src="/img/artwork/target_audience__monochromatic.svg"/>
                      <h3 style="color: #ff29ff;">3. Delight Your Audience</h3>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/artwork/network_.svg"/>
                                    <h3>Forge Communities</h3>
                                    <p class="text-muted">Grow communities around a common cause. Join with your friends.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/artwork/brainstorming_.svg"/>
                                    <h3>Co-create Campaigns</h3>
                                    <p class="text-muted">Choose a theme, set your goals, plan actions and events. Launch time!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/artwork/team_work.svg"/>
                                    <h3>Crowdsource Activities</h3>
                                    <p class="text-muted">Choose the actions you are willing to participate in. Invoke your own channels.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <img src="/img/artwork/analysis_.svg"/>
                                    <h3>Celebrate Results</h3>
                                    <p class="text-muted">Collect outreach metrics transparently. Objectives reached? It's party time!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                  <h3>With its open and friendly culture, your organization will feel right at home on the Fediverse.</h3>
                  <p class="text-muted">All that's needed is a Fediverse account at the place of your choosing. Then build your community of fellow campaigners right away.</p>
                  <a target="_blank" href="https://fediverse.party" style="color:white" class="btn btn-outline btn-xl">Explore The Fediverse</a>  
                </div>

            </div>
    </section>
