
<nav id="hamnav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand page-scroll" href="#page-top">Outreach • Matters</a>

    <label for="hamburger">Menu &#9776;</label>
    <input type="checkbox" id="hamburger"/>

    <div id="hamitems" class="nav navbar-nav navbar-right">
      <!-- <a href="/funds">Support us</a> -->
      <a href="#highlights">Highlights</a>
      <a href="#overview">Overview</a>
      <a href="#project">Project</a>
      <a href="#contact">Contact</a>
      <!-- <a href="/blog">Blog</a> -->
    </div>
  </div>
</nav>
