<section id="overview" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">How Campaigns Are Structured</h2>
                <p>Try our amazing products</p>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/user_group.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box1">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Community
                            </div>
                            <div class="element-description">
                                Any person or organization on the Fediverse can join communities on any Outreach server. Select one that campaigns for causes that are close to your heart. Didn't find a community? No problem, just create one yourself and invite your friends. Better yet, launch your own server and have full control. Whether you are a climate change activist, free and open software evangelist, or want to promote the worker cooperative you are part of. Outreach has got you covered.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/marketing_.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box2">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Campaign
                            </div>
                            <div class="element-description">
                                Project Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/recycling.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box3">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Theme
                            </div>
                            <div class="element-description">
                                Project Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/social_media.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box4">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Channel
                            </div>
                            <div class="element-description">
                                Project Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/reminder_note_isometric.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box5">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Event
                            </div>
                            <div class="element-description">
                                Project Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/social_media_action.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box6">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Action
                            </div>
                            <div class="element-description">
                                Project Name
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
