<section id="overview" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Grassroots Campaign Management</h2>
                <p>All Fedizens, All Communities, All Together. Stronger Than Before.</p>
            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/artwork/user_group.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box1">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Community
                            </div>
                            <div class="element-description">
                              Anyone with a Fediverse account can join Outreach communities, or start new ones. For full control you can self-host your own Outreach server. Climate change activism? Open-source evangelist? Promote your worker cooperative? Outreach has got you covered.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/artwork/marketing_.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box2">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Campaign
                            </div>
                            <div class="element-description">
                              Together with community friends and followers - your co-campaigners - you design strategic Outreach campaigns and launch them across a wide variety of channels to a broad audience. Your entire community member base helps to reduce the workload of your PR team.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/artwork/recycling.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box3">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Theme
                            </div>
                            <div class="element-description">
                              Themes represent what your community stands for, like 'Equality' or 'Sustainability'. They attract members to become active for your cause. People follow themes to receive campaign-related info, like launch announcements, progress updates and  retrospectives.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/artwork/social_media.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box4">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Event
                            </div>
                            <div class="element-description">
                              Events are what is being promoted, and can be anything, online or offline, in past or in future. For example a conference, a blog post, an appeal for funding, or an action of others that needs public response. The campaign specifies the strategic objectives for each event.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/artwork/reminder_note_isometric.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box5">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Channel
                            </div>
                            <div class="element-description">
                              Strategy, themes and events determine the PR channels to target. For a software release these may be Hacker News and some forums, while climate activism may target all major social platforms. Campaigners choose to invoke channels using their own account.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="overview-box">
                    <img src="/img/artwork/social_media_action.svg" class="img-responsive" alt="">
                    <div class="overview-box-caption box6">
                        <div class="overview-box-caption-content">
                            <div class="campaign-element text-faded">
                                Action
                            </div>
                            <div class="element-description">
                              Activism is easier when it takes little effort, so Outreach automates much of the manual work via Actions. For instance a Twitter action might trigger multiple Likes and Retweets of an event using the campaigner's account. But campaigners always have full control.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
